{% extends "base.html" %}

{% block content %}

<div class="jumbotron jumbotron-fluid ">
    <div class="container bg-light">
        <h1 class="display-4 d-flex justify-content-center">My Summarizer</h1>
        <p class="lead text-capitalize d-flex justify-content-center">Bu program ile artık uzun cümleleri
            istediğiniz boyutta kısaltıp, özetlemek çok kolay.</p>
    </div>

    <div class="container my-3">
        <form method="POST">
            {% csrf_token %}
            <div class="row">

                <div class="col-6">
                    <textarea name="ceviri_metin" id="ceviri_metin" class="form-control scrollable bg-light"
                        style="height: 350px;" placeholder="Özetlemek İstediğiniz Metni Giriniz.."
                        value="{{ceviri_metin}}">{{ceviri_metin}}</textarea>
                </div>
                <div class="col-6">
                    <textarea name="ozet" id="ozet" class="form-control scrollable bg-light" style="height: 350px;"
                        value="{{ozet}}" disabled>{{ozet}}</textarea>
                </div>

            </div>
    </div>
    <div class="container d-flex justify-content-center">
        <label class="form-control" for="sayfa_no">Sayfa Sayısı</label>
        <input class="form-control" type="text" id="sayfa_no" disabled value="{{sayfa_no}}">
        <button type="submit" class="btn btn-success">Özetle</button>
        <label class="form-control" for="hedef_sayfa_no">Kaç Sayfa Olsun ?</label>
        <input class="form-control" type="text" name="hedef_sayfa_no" id="hedef_sayfa_no" value="{{hedef_sayfa_no}}">
    </div>
    </form>
</div>



{% endblock content %}